<div class="sticky top-0 z-50 bg-white">
    <div class="navbar h-24 pl-0 w-full">
        <img class="header-logo" src="../../../assets/logo_large.png"/>
        <div class="flex flex-col w-full">
            <div class="flex-initial h-14 navbar-row border-b">
                <div class="flex-none navbar-end my-1">
                    <label class="h-12 w-12 rounded-full transition-colors hover:bg-gray-200">
                        <mat-icon class="h-6 my-3 mx-3" aria-label="home icon">home</mat-icon>
                    </label>
                    <label class="h-12 w-12 rounded-full transition-colors hover:bg-gray-200">
                        <mat-icon class="h-6 my-3 mx-3" aria-label="shopping cart icon">shopping_cart</mat-icon>
                    </label>
                    <button class="py-2 px-4 my-1 mx-1 bg-main-500 rounded text-white">
                        <p class="uppercase">aanmelden</p>
                    </button>
                </div>
            </div>
            <div class="flex justify-center content-center navbar-row h-10 bg-sec-400">
                <mat-icon class="self-center mx-3 text-main-500" aria-label="info icon">info</mat-icon>
                <p class="h-min self-center">Afhalen op donderdag 19-01-2023 om 08:30u bij Plezantstraat</p>
                <button class="py-1 px-4 my-1 mx-3 bg-main-500 rounded text-white">
                    <p class="uppercase">wijzigen</p>
                </button>
            </div>
        </div>
    </div>
</div>