<div class="min-w-[20rem] w-1/2">
    <div class="mt-5 pr-3">
        <h1 class="text-lg font-bold">Beschrijving</h1>
        <p>
            Biscuit met slagroom en frambozen, chocomousse of slagroom woudvruchten, 
            marsepein voorkeur met foto suiker of chocolade overdekt voorkeur foto chocolade met fruit rondom. 
            Kies foto chocolade of foto suiker en laad uw zelfgekozen foto op.
        </p>
    </div>
    <div class="my-10">
        <h1 class="text-lg font-bold">Ingrediënten:</h1>
        <p>Gelieve contact op te nemen voor onze ingrediënten</p>
    </div>
</div>


