<footer class="footer bg-main-500 w-full">
    <div class="grid grid-cols-2 sm:grid-cols-4 mx-auto py-10">
        <div class="grid grid-cols-1 grid-flow-row ml-6 sm:mx-auto text-white pb-5 sm:pb-0">
            <h3 class="uppercase mb-4 text-sm font-bold opacity-50">winkels</h3>
            <a class="mb-1 text-sm">Plezantstraat</a>
            <a class="mb-1 text-sm">Raapstraat</a>
            <a class="mb-1 text-sm">Sint-Gillis-waas</a>
        </div>

        <div class="grid grid-cols-1 grid-flow-row ml-6 sm:mx-auto text-white pb-5 sm:pb-0">
            <h3 class="uppercase mb-4 text-sm font-bold opacity-50">socials</h3>
            <a class="mb-1 text-sm">Facebook</a>
            <a class="mb-1 text-sm">Instagram</a>
            <a class="mb-1 text-sm">Website</a>
        </div>

        <div class="grid grid-cols-1 grid-flow-row ml-6 sm:mx-auto text-white">
            <h3 class="uppercase mb-4 text-sm font-bold opacity-50">beleid</h3>
            <a class="mb-1 text-sm">Cookie beleid</a>
            <a class="mb-1 text-sm">Privacy beleid</a>
            <a class="mb-1 text-sm">Algemene voorwaarden</a>
        </div>

        <div class="grid grid-cols-1 grid-flow-row ml-6 sm:mx-auto text-white">
            <h3 class="uppercase mb-4 text-sm font-bold opacity-50">patisserie stefan</h3>
            <a class="mb-1 text-sm">BE0876.220.301</a>
            <a class="mb-1 text-sm">Raapstraat 55</a>
        </div>
    </div>
</footer>
<footer>
    <div class="w-full flex justify-center content-center py-4">
        <a href="https://www.yina-solutions.be/">
            <img class="w-10" src="https://shop.patisseriestefan.net/assets/emblem_color.svg"/>
        </a>
        <p class="text-center text-sm">
            Yina solutions
            <br/>
            Streamlining your process
        </p>
    </div>
</footer>
